body, html {
    background-color: white;
}
 
.navbar-primary.navbar-top .navbar-brand {
    margin-top: 0px;
    padding-top: 8px;
    padding-bottom: 12px;
} 
       
.navbar-brand img {
    margin-bottom: 7px;
}

.title {
    margin-top: 30px;
    margin-bottom: 40px;
}
    